.hero {
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family:Arial;
}

.round-logo {
  width: 50px;      
  height: 50px;
  border-radius: 50%;
}

img{
    width: 110px;
    height: 110px;
}

.container{
    padding-top: 10%;
}

body{
color:white;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
}

.nav-buttons{
display:flex;
gap:10px;
}

.glass-box{
  width:100%;
  padding:200px;
  text-align:center;
  background:lightblue;
  border-radius:12px;
  backdrop-filter: blur(8px);
}

.center-logo{
width:120px;
margin-bottom:20px;
}
